@import "../../scss/global.scss";


#site-header {
  background-color: white;
  font-family: TT;


  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0;
    max-width: 95vw;

    @media (max-width: 768px) {
      max-width: unset;
      width: 90%;
    }

    .nav-logo {
      font-family: 'Prata', serif;
      font-size: 35px;
      margin-bottom: 2rem;
      color: #2b2133;
    }
  }

  .nav-links {
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
  }

  .nav-link {
    padding: 0.2rem 1rem;
  }

  .nav-column {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 4rem 1.5rem 0rem;
  }

  .social-container {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 28px;
  }

  .social-icons {
    color: white;
  }

  .round-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #6e5548;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .round-btn:first-of-type {
    margin-right: 5px;
  }

  .round-btn:last-of-type {
    margin-left: 5px;
  }

}
