//Fonts 

@import url('https://fonts.googleapis.com/css2?family=Prata&family=Roboto+Slab:wght@100;200;300&display=swap');

@font-face {
  font-family: TT;
  src: url('TT Jenevers Trial Light.otf');
}

.gallery-container {
  display: flex;
  margin-top: 20rem;
  min-height: 400px;
  margin-left: 15rem;
  margin-right: 2.5rem;
  height: 100%;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.photo-row {
  display: flex;
  flex-direction: row;
  min-width: 100%;
}

.photo-column {
  display: flex;
  flex-direction: column;
  min-width: 33.3%;
  overflow: hidden;
  padding: 0;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

